@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFF;
	color: #000;
	line-height: 1.5em;
	margin: 0px;
	font-family: 'Lato', sans-serif;
    font-weight: 500;
	font-size:16px;
    
    width: 100%;
    height: 100%;
       
    max-width: 100%;
    overflow-x: hidden;
}

p {
	padding-left: 20px;
}

#container {
	background-color: #FFF;
	margin-left: 15%;
    margin-right: 15%;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 70%;
	padding: 0px 0px 30px 0px;
}

#paper_title {
	padding:15px 0px 0px 0px;
    margin:0 auto;
    text-align:center;
}

#paper_title h1 {
	font-weight: 600;
}

#paper_authors {
    padding:15px 0px 0px 0px;
    margin:0 auto;
    text-align:center;
}

#paper_abstract {
    padding:15px 0px 0px 0px;
    margin:0 auto;
    width: 100%;
}

#description {
    padding:15px 0px 0px 0px;
}

#description h3 {
	font-weight: 600;
}

#description a{    
	text-decoration:none;
    color: #0066cc;
    font-weight: 600;
}

#description a:hover {
	color:#F90;
	text-decoration:underline;
    font-weight: 600;
}

#architecture {
    padding:15px 0px 0px 0px;
}

#architecture_caption {
    margin:0 auto;
    text-align:center;
    padding:10px 0px 0px 0px;
}

#demos {
    padding:25px 0px 0px 0px;
}

#demos .target_audio {
    width:100%;
    margin:0 auto;
    text-align:center;
}

#demos h3 {
	font-weight: 600;
    text-align: left;
}

#demos h4 {
    padding: 15px 0px 0px 0px;
	font-weight: 600;
    text-align: left;
}

#demos_reverb {
    width: 100%;
    padding: 25px 0px 0px 0px;
}

#demo1 {
    margin:0 auto;
    text-align:center;
    width:50%;
}

#video1_des {
    margin:0 auto;
    text-align:center;
    padding:5px 0px 35px 0px;
}

#demo2 {
    margin:0 auto;
    text-align:center;
    width:50%;
}

#video2_des {
    margin:0 auto;
    text-align:center;
    padding:5px 0px 35px 0px;
}

#demos_real {
    width: 100%;
    padding: 25px 0px 0px 0px;
}

#demo3 {
    margin:0 auto;
    text-align:center;
    width:50%;
}

#video3_des {
    margin:0 auto;
    text-align:center;
    padding:5px 0px 35px 0px;
}

#demo4 {
    margin:0 auto;
    text-align:center;
    width:50%;
}

#video4_des {
    margin:0 auto;
    text-align:center;
    padding:5px 0px 35px 0px;
}

.audio_demos {
    margin:0 auto;
    text-align:center;
}

#footer {
    border-top:2px solid gray;
    margin:0 auto;
    text-align:center;
    margin-top:40px;
    font-size:14px;
}

